* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f2937;
}

.header-container {
    height: 600px;
    width: 1200px;
    margin: 0 auto;
}


/*
    Logo line
*/
.logo-line {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.logo-line h3 {
    color: #F9FAF8;
    font-family: roboto;
    font-size: 24px;
    margin-top: 20px;
}

.logo-line ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-top: 20px;
    margin-left: auto;
}

.logo-line a {
    text-decoration: none;
    color: white;
    font-family: roboto;
}

/*
    Main header section
*/

.main-header-section {
    display: flex;
    justify-content: flex-start;
    margin-top: 10rem;
}

.main-header-section .right-box {
    margin-left: auto;
}

.main-header-section .left-box {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.main-header-section .left-box h1 {
    font-family: roboto;
    font-size: 48px;
    color: #F9FAF8;
}

.left-box a {
    width: 65px;
    text-decoration: none;
    color: #F9FAF8;
    font-family: roboto;
    font-size: 18px;
    background-color: #3882f6;
    padding: 7px 25px;
    border-radius: 7px;
    margin-top: 20px;
}

.left-box p {
    color: #F9FAF8;
    font-size: 24px;
}

.right-box img {
    height: 300px;
    width: auto;
}

/*
    Article
*/

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    height: 600px;
}

article h2 {
    font-family: roboto;
    font-size: 36px;
    margin-top: 3rem;
}

.cards {
    display: flex;  
    gap: 50px;
}

.card {
    width: 200px;
    text-align: center;
}

.cards .card p {
    font-family: roboto;
    font-size: 18px;
    color: #1f2937;
    margin-top: 10px;
}

.border {
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    border-radius: 15px;
}

/*
    Testimonial
*/

.container {
    background-color: #e5e7eb;

}

.testimonial {
    height: 600px;
    width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial p {
    font-family: roboto;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    width: 800px;
    font-weight: 300;
}

.testimonial h4 {
    margin-left: auto;
    font-size: 26px;
    font-family: roboto;
    color: #1f2937;
}